In [1]:
import psycopg2
import numpy as np
from psycopg2.sql import Identifier,SQL,Literal
import pandas as pd
import datetime
import json

In [2]:
conn = psycopg2.connect(
    host="stage-database.c2gt8sxyfb4d.us-east-1.rds.amazonaws.com",
    database="simcall_main",
    user="jupyter",
    password="9akKB%(f0Y)8zUY6F=u=)lÂ£Mh]")

In [3]:
cur = conn.cursor()

In [4]:
query = """Select gl.line_id, l.sim_number, l.phone_number,
  g.autopay, g.next_payment,
  case when g.manager_id = l.id then 1 end
  is_manager,
  g.max_lines - count(*) over() open_lines
from groups g
join group_lines gl
   on g.id = gl.group_id
join lines l
  on l.id = gl.line_id
where g.id = %s
order by group_line"""

In [5]:
cur.execute(query, (1,))

In [6]:
data = cur.fetchall()
columns = [desc[0] for desc in cur.description]

In [12]:
data_json = {str(i): {columns[j]: data[i][j] for j in range(len(columns))} for i in range(len(data))}

In [13]:
data_json

{'0': {'line_id': 120198,
  'sim_number': '89014103273341767915',
  'phone_number': '3475155791',
  'autopay': True,
  'next_payment': datetime.date(2024, 1, 28),
  'is_manager': 1,
  'open_lines': 4},
 '1': {'line_id': 120199,
  'sim_number': '89014103323357288684',
  'phone_number': '3476108904',
  'autopay': True,
  'next_payment': datetime.date(2024, 1, 28),
  'is_manager': None,
  'open_lines': 4},
 '2': {'line_id': 120201,
  'sim_number': '89014104273455084544',
  'phone_number': '3322628698',
  'autopay': True,
  'next_payment': datetime.date(2024, 1, 28),
  'is_manager': None,
  'open_lines': 4},
 '3': {'line_id': 122664,
  'sim_number': '89014103273803587389',
  'phone_number': '6466754617',
  'autopay': True,
  'next_payment': datetime.date(2024, 1, 28),
  'is_manager': None,
  'open_lines': 4},
 '4': {'line_id': 120202,
  'sim_number': '89014103273803587397',
  'phone_number': '6464609978',
  'autopay': True,
  'next_payment': datetime.date(2024, 1, 28),
  'is_manager': None,
  'open_lines': 4},
 '5': {'line_id': 120203,
  'sim_number': '89014103323241495958',
  'phone_number': '7189139855',
  'autopay': True,
  'next_payment': datetime.date(2024, 1, 28),
  'is_manager': None,
  'open_lines': 4}}

In [14]:
cur.execute('delete from group_lines where line_id = 120932')

In [15]:
cur.fetchall()

ProgrammingError: no results to fetch

In [26]:
cur.execute('delete from group_lines where line_id = 120932')

In [27]:
cur.statusmessage

'DELETE 1'

In [29]:
cur.

In [23]:
conn.close()

In [30]:
d = {'0': 1, '1': 0}
[d[str(i)] for i in range(len(d))]

[1, 0]

In [38]:
event = {
  "0" : {"line_id": 120932}
}

In [40]:
line_ids = tuple(event[str(i)]['line_id'] for i in range(len(event)))
sql = 'delete from group_lines where line_id in %s'
cur.execute(sql, (line_ids,))
data = cur.statusmessage

OperationalError: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

In [ ]:
json.dumps()